/* Landing */
.bonfire-img {
  background-image: url('../public/home.jpg');
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:bottom;
  height: 88vh !important;
}

.bonfire-img h1 {
  color: white;
}

.vertical-center {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
}

.text-white {
  color: white;
}

