.float-label {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  position: relative;
}

.float-label input {
  width: 100%;
  height: 56px;
  padding: 14px 0 0 10px;
  outline: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: white;
  font-size: 16px;
}
.float-label input:focus {
  border: 1px solid blue;
  background-color: #e8f0fe;
  box-shadow: none;
}

.float-label label {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 3%;
  color: #999;
  pointer-events: none;
  position: absolute;
  transform: translate(0, 18px) scale(1);
  /*Animation*/
  transform-origin: top left;
  transition: all 0.3s ease-out;
}

.float-label:hover label {
  transform: translate(0, 10px) scale(0.75);
}

.float-label .Active {
  transform: translate(0, 10px) scale(0.75);
}

.loginButton button:focus {
  box-shadow: none !important;
  outline: none !important;
}

.loginButton button:hover {
  background-color: #3394dc !important;
}

.bottom-text:hover a {
  text-decoration: none;
  color: #3394dc;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}