/* Sidebar */
.navbar {
  background-color: #060b26;
  height: 12vh;
}

.navbar-brand a {
  color: white !important;
  display: flex;
  align-items: center;
}

.navbar-brand:hover a {
  text-decoration: none;
}

.menu-bars {
  margin: 1rem;
  font-size: 1.5rem;
  display: flex;
}

.nav-menu {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  /* hides the sidebar */
  left: -100%;              
  transition: 850ms;
  /* display on top */
  z-index: 9999;
}

.nav-menu.active {
  /* show the sidebar */
  left: 0;
  transition: 350ms;
  z-index: 9999;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: white !important;
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
  text-decoration: none;
}

.navbar-toggle {
  background-color: #060b26;
  padding-left: 80%;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-text span {
  margin-left: 1rem;
}
